:host {
    height: 100%;
}

.maze-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.maze-grid > div {
    display: flex;
}

.maze-grid > div > div {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
}

.wall {
    background-color: #342e44 !important;
}

.start {
    background-color: green !important;
}

.end {
    background-color: red !important;
}

.path {
    background-color: yellow !important;
}

.visited {
    background-color: blue !important;
}

.button-container {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;

    .spinner {
        width: 50px;
        height: 50px;
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-top-color: #007bff;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    p {
        margin-top: 10px;
        color: white;
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
