<div id="header-container">
    <mat-toolbar color="primary">
        @if (!sidebarOpened) {
            <button mat-icon-button (click)="openSidebar()">
                <mat-icon>view_sidebar</mat-icon>
            </button>
        }
        <span class="title">Collaborative Maze PathFinder</span>
    </mat-toolbar>
    
    <button id="controls-button" (click)="showModal = true">Controls</button>
    <app-controls-modal *ngIf="showModal" (close)="showModal = false"></app-controls-modal>
</div>